---
---

<html lang="en">
  <head>
    <title>My Astro Extension</title>
  </head>
  <body>
    <h1>Welcome to Astro Chrome Extension</h1>
    <p>Click the button below:</p>
    <button >Click Me</button>
  </body>
</html>